<div class="game-card">
  <h4>Titulo: {{ title }}</h4>
  <div class="game-card-image">
    <img src="{{ image }}" alt="Nombre del juego" />
  </div>
  <div class="game-card-details">
    <div class="description">
      <p class="date">Fecha de Lanzamiento: {{ releaseDate }}</p>

      <div class="rating">
        <fa-icon
          *ngFor="let i of [].constructor(rating)"
          [icon]="starFill"
        ></fa-icon>
        <fa-icon
          *ngFor="let i of [].constructor(5 - rating)"
          [icon]="star"
        ></fa-icon>
      </div>
    </div>

    <div>
      <p>Descripción del juego:</p>
      <p>{{ description }}</p>
    </div>
    <button class="add-to-cart">Agregar al Carrito</button>
  </div>
</div>
